<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AstroMarketplace</title>
	</head>
	<body>
		<header>
			<div class="header">
				<h1>AstroMarketplace</h1>
				<a href="/vendor">Portal de vendedor</a>
			</div>
		</header>

		<h1>Productos Disponibles</h1>

		<table id="productos">
			<thead>
				<tr>
					<th>Item</th>
					<th>Precio</th>
					<th>Inventario Actual</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="productos_data">

			</tbody>
		</table>

		<footer>
		<div class="footer">
			<p>Universidad Javeriana - Arquitectura de Software</p>
			<p>Juan Romero, Kamilt Diaz, Pablo Quintero</p>
		</div>
	</footer>
	</body>
</html>

<style>
	html, body
	{
	height: 100%;
	margin: 0;
	}

	body
	{
	display: flex;
  	flex-direction: column;
	}

	main 
	{
	flex: 1;
	}

	.title
	{
	text-align: center;
	}

	.header
	{
	background-color: darkblue;
	border: solid black 2px;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;}

	.header a
	{
	background-color: white;
	border: solid black 2px;
	font-size: 20px;
	text-decoration: none;
	padding: 5px;
	}

	footer
	{
	background-color: blue;
	border: solid black 2px;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	}

	button
	{
	font-size: 20px;
	}

	table 
	{
	border: solid black 2px;
	text-align: center;
	}

	th, td 
	{
	font-size: 20px;
	border: solid black 2px;
	padding: 8px;
	}

	table#productos tr 
	{
	border: solid black 2px;
	}

	table#productos tbody tr:nth-child(odd) 
	{
	background-color: cyan;
	}

</style>

<script>
  async function loadProductos() {
    const response = await fetch("http://localhost:3000/product_data.json");
    const productos = await response.json();

    const tbody = document.getElementById("productos_data");
    tbody!.innerHTML = productos.map((producto: { nombre: any; precio: any; inventario: any; id: any; }) => `
      <tr>
        <td>${producto.nombre}</td>
        <td>${producto.precio}</td>
        <td>${producto.inventario}</td>
        <td><button class="Purchase" data-id="${producto.id}">Comprar</button></td>
      	</tr>`).join("");

    document.querySelectorAll(".Purchase").forEach((btn) => {
      btn.addEventListener("click", async (event) => {
		const target = event.currentTarget as HTMLButtonElement;
		const id = target.dataset.id;

		await fetch("http://localhost:3000/kafka/publish", {
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({ message: id, topic: "buyer_topic"}),
        	});

		alert('Producto comprado')

		await fetch("http://localhost:3000/kafka/publish", {
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({ message: id, topic: "vendor_notfis"}),
        	});

		console.log('Notifiacion enviada.')

		await fetch("http://localhost:3000/kafka/publish", {
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({ message: id, topic: "vendor_sales"}),
        	});

		console.log('Ventas actualizadas.')
    	location.reload()

		});
    });
  }

  document.addEventListener("DOMContentLoaded", loadProductos);
</script>
