<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AstroMarketplace</title>
	</head>
	<header>
		<div class="header">
			<h1>AstroMarketplace - Portal de Vendedeor</h1>
			<a href="/">Salir</a>
		</div>
	</header>

	<body>
		<h1>Mi Catalogo</h1>

		<table id="productos">
			<thead>
				<tr>
					<th>Item</th>
					<th>Precio Unitario</th>
					<th>Inventario Actual</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="productos_data">

			</tbody>
		</table>

		<h1>Notificaciones</h1>

		<table id="notificaciones">
			<thead>
				<tr>
					<th></th>
					<th>Fecha</th>
					<th>Item</th>
				</tr>
			</thead>
			<tbody id="notif_data">

			</tbody>
		</table>

		<h1>Resumen de ventas</h1>

		<table id="ventas">
			<thead>
				<tr>
					<th>Item</th>
					<th>Precio Unitario</th>
					<th>Ventas Totales</th>
				</tr>
			</thead>
			<tbody id="ventas_data">

			</tbody>
		</table>

		<h2>Ganancias Totales: <span id="totalValue">0$</span></h2>
		<div class="left_button"> 
			<button id="UpdateBtn">Actualizar</button>
		</div>
	</body>

	<footer>
		<div class="footer">
			<p>Universidad Javeriana - Arquitectura de Software</p>
			<p>Juan Romero, Kamilt Diaz, Pablo Quintero</p>
		</div>
	</footer>
</html>

<style>
	html
	{
	height: 100%;
	margin: 0;
	}

	body
	{
	height: 100%;
  	margin: 0;
	display: flex;
  	flex-direction: column;
	}

	main 
	{
	flex: 1;
	}

	.title
	{
	text-align: center;
	}

	.header
	{
	background-color: darkblue;
	border: solid black 2px;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;}

	.header a
	{
	background-color: white;
	border: solid black 2px;
	font-size: 20px;
	text-decoration: none;
	padding: 5px;
	}

	footer
	{
	background-color: blue;
	border: solid black 2px;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	}

	.formulario
	{
	border: solid black 2px;
	border-radius: 2px;
	background-color: white;
	font-size: 30px;
	margin: 10px;
	padding: 10px;}

	.left_button
	{
	display: inline-block;
	}

	.left_button button
	{
		font-size: 20px;
	}

	table
	{
	border: solid black 2px;
	text-align: center;
	}

	td
	{
	font-size: 20px;
	border: solid black 2px;
	}

	tbody tr:nth-child(odd)
	{
		background-color: cyan;
	}

	tr
	{
	font-size: 20px;
	}

</style>

<script>
  async function loadData() {
    const productResponse = await fetch("http://localhost:3000/product_data.json");
    const productos = await productResponse.json();

    const tbodyProd = document.getElementById("productos_data");
    tbodyProd!.innerHTML = productos.map((producto: { nombre: any; precio: any; inventario: any; id: any; }) => `
      <tr>
        <td>${producto.nombre}</td>
        <td>${producto.precio}</td>
        <td>${producto.inventario}</td>
        <td><button class="Restock" data-id="${producto.id}">Reabastecer</button></td>
      	</tr>`).join("");

	const notifResponse = await fetch("http://localhost:3000/notifications.json");
    const notificaciones = await notifResponse.json();

    const tbodyNotif = document.getElementById("notif_data");
    tbodyNotif!.innerHTML = notificaciones.map((notif: { producto: any; fecha: any; tipo: any;}) => `
      <tr>
        <td>${notif.tipo}</td>
        <td>${notif.fecha}</td>
        <td>${notif.producto}</td>
      	</tr>`).join("");

	const salesData = await fetch("http://localhost:3000/ventas.json");
    const sales = await salesData.json();

    const tbodySales = document.getElementById("ventas_data");
    tbodySales!.innerHTML = sales.map((sales: { producto: any; precio_unitario: any; unidades_vendidad: any;}) => `
      <tr>
        <td>${sales.producto}</td>
        <td>${sales.precio_unitario}</td>
        <td>${sales.unidades_vendidad}</td>
      	</tr>`).join("");

    document.querySelectorAll(".Restock").forEach((btn) => {
      btn.addEventListener("click", async (event) => {
		const target = event.currentTarget as HTMLButtonElement;
		const id = target.dataset.id;

		await fetch("http://localhost:3000/kafka/publish", {
			method: "POST",
			headers: { "Content-Type": "application/json" },
			body: JSON.stringify({ message: id, topic: "vendor_inventory" }),
        	});
			
		alert('Inventario reabastecido.')
    	location.reload()

		});
    });
  }

  document.addEventListener("DOMContentLoaded", loadData);

  const update = document.getElementById("UpdateBtn")
  const salesValue = document.getElementById("totalValue")
  
  update?.addEventListener("click", async () => {
	console.log("actualizando valor")

    await fetch("http://localhost:3000/ventas/totales");
	
	const total_response = await fetch("http://localhost:3000/ventas/totales");
	const Salesdata = await total_response.json();
	const value = Salesdata.ganancias_totales;
    if (salesValue) {
      salesValue.innerText = `${value}$`;
    }
  });
</script>